<img align="left" style="padding-right:10px;" width="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/320px-Star_Wars_Logo.svg.png" />

*elaborado por Ferran Carrascosa Mallafrè.*

< [Colecciones de objetos: pandas](modulo1_tema4_Py_32_pandas.ipynb) | [Índice](modulo1_tema4_Py_00_indice.ipynb) | [Gestión de datos](modulo1_tema4_Py_50_gest_dat.ipynb) >

__[Abre en Colab](https://colab.research.google.com/github/griu/init_python_b1/blob/master/modulo1_tema4_Py_40_contr_flujo.ipynb)__   *: <span style="color:rgba(255, 99, 71, 0.8)">Padawan! Cuando inicies sesión en Colab, prepara el entorno ejecutando el siguiente código.</span>*

# Preparación del entorno

¡Padawan! cuando inicies sesión en Colab, prepara el entorno ejecutando el siguiente código:

In [ ]:
if 'google.colab' in str(get_ipython()):
    !git clone https://github.com/griu/init_python_b1.git /content/init_python_b1
    !git -C /content/init_python_b1 pull
    %cd /content/init_python_b1

# 7 - Control de Flujo

Las herramientas de control de flujo permiten automatizar tareas. En este capítulo, trabajaremos las funciones condicionales y los bucles.

##### 7.1. Datos de ejemplo

Este capítulo, utilizará ejemplos de vehículos de Star Wars:

In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()  # para el estilo de graficos

entidades = ['planets','starships','vehicles','people','species']
entidades_df = {x: pd.read_pickle('www/' + x + '_df.pkl') for x in entidades}
vehicles_df = entidades_df['vehicles'][["cost_in_credits","length","max_atmosphering_speed"
                                        ,"crew","cargo_capacity","pilots","films"]].dropna()

vehicles_df

                             cost_in_credits  ...                                              films
name                                          ...
Sand Crawler                        150000.0  ...  [http://swapi.dev/api/films/1/, http://swapi.d...
T-16 skyhopper                       14500.0  ...                    [http://swapi.dev/api/films/1/]
X-34 landspeeder                     10550.0  ...                    [http://swapi.dev/api/films/1/]
Storm IV Twin-Pod cloud car          75000.0  ...                    [http://swapi.dev/api/films/2/]
Sail barge                          285000.0  ...                    [http://swapi.dev/api/films/3/]
Bantha-II cargo skiff                 8000.0  ...                    [http://swapi.dev/api/films/3/]
Imperial Speeder Bike                 8000.0  ...                    [http://swapi.dev/api/films/3/]
Multi-Troop Transport               138000.0  ...                    [http://swapi.dev/api/films/4/]
C-9979 landing craft                200000.0  ...                    [http://swapi.dev/api/films/4/]
Sith speeder                          4000.0  ...                    [http://swapi.dev/api/films/4/]
Zephyr-G swoop bike                   5750.0  ...                    [http://swapi.dev/api/films/5/]
Tsmeu-6 personal wheel bike          15000.0  ...                    [http://swapi.dev/api/films/6/]
Droid tri-fighter                    20000.0  ...                    [http://swapi.dev/api/films/6/]
Oevvaor jet catamaran                12125.0  ...                    [http://swapi.dev/api/films/6/]
Raddaugh Gnasp fluttercraft          14750.0  ...                    [http://swapi.dev/api/films/6/]
Clone turbo tank                    350000.0  ...                    [http://swapi.dev/api/films/6/]
Droid gunship                        60000.0  ...                    [http://swapi.dev/api/films/6/]
AT-RT                                40000.0  ...                    [http://swapi.dev/api/films/6/]

[18 rows x 7 columns]

### 7.2. Funciones

Hagamos un breve repaso sobre lo que hemos tratado hasta el momento respecto a las funciones en Python. 

Hemos introducido el concepto de función en Python en el capítulo de [Elementos básicos de Python](modulo1_tema4_Py_10_elem_bas.ipynb). 

A continuación, en el capítulo de [Listas, tuplas y diccionarios](modulo1_tema4_Py_30_colec_obj.ipynb), hemos explicado la posibilidad de devolver varios elementos, a la vez, en forma de tuplas.

En [numpy](modulo1_tema4_Py_31_numpy.ipynb), se han explicado las funciones universales (ufunc) como un grupo de funciones que vectorizan al aplicarse sobre los elementos de los array numpy. 

Finalmente, en [pandas](modulo1_tema4_Py_32_pandas.ipynb), se ha comentado la posibilidad de aplicar las funciones universales de numpy a objetos pandas (Series y DataFrame) y cómo estas funciones respetan los índices fila y columna. También, hemos comentado el alineamiento de los índices cuando  realizamos operaciones aritméticas entre dos objetos pandas.

En el capítulo de gestión de datos, trataremos 2 conceptos adicionales sobre las funciones.

Por un lado, veremos cómo vectorizar cualquier tipo de función, sobre los elementos de los objetos pandas, a través de la función apply.

> **Recuerda**: en el tema de R, las funciones apply ya las definimos con la misma finalidad.

El segundo concepto que veremos, van a ser las funciones de agregación (suma, media, cuantiles...). Las definiremos, primero, sobre objetos numpy y, posteriormente, sobre pandas.

La combinación de ambos conceptos, funciones vectorizadas y funciones de agregación sobre objetos pandas, van a terminar de rellenar tu caja de herramientas para poder iniciarte en data science.

### 7.3. Condicionales

Hagamos, también, aquí un breve repaso de los aspectos que ya hemos comentado respecto a estructuras condicionales.

En el capítulo de los [Elementos básicos de Python](modulo1_tema4_Py_10_elem_bas.ipynb), introducimos la estructura básica *if-else*. 

En el capítulo [Listas, tuplas y diccionarios](modulo1_tema4_Py_30_colec_obj.ipynb), utilizamos la escritura if-else en las *list comprehension*.

In [ ]:
[x for x in range(5) if x%2==0]  # lista de pares menores a 5

[0, 2, 4]

Los capítulos de [Numpy](modulo1_tema4_Py_31_numpy.ipynb) y [Pandas](modulo1_tema4_Py_32_pandas.ipynb), también, han servido para tratar los filtros, como un forma de operaciones condicionales sobre vectores y data frames.

Una nueva forma de realizar transformaciones condicionales con arrays numpy y series pandas es `np.where()`.

Por ejemplo, veamos la siguiente variable *crew* que nos informa del número de tripulantes que puede llevar, como máximo, un vehículo:

In [ ]:
vehicles_df[['crew']].head()

                             crew
name
Sand Crawler                   46
T-16 skyhopper                  1
X-34 landspeeder                1
Storm IV Twin-Pod cloud car     2
Sail barge                     26

Para transformar esta variable en una nueva que indique si un vehículo puede llevar 1, 2 o 3 o más tripulantes:

In [ ]:
vehicles_df['crew_r'] = np.where(vehicles_df.crew<3, vehicles_df.crew, 3)
vehicles_df[['crew','crew_r']].head()

                             crew  crew_r
name
Sand Crawler                   46       3
T-16 skyhopper                  1       1
X-34 landspeeder                1       1
Storm IV Twin-Pod cloud car     2       2
Sail barge                     26       3

> **Observa**: esta función de numpy aplica elemento a elemento. Observa, también, que se ha aplicado a una serie de un DataFrame, obteniendo una nueva serie.

### 7.4. Bucles

Hemos tratado Los bucles for, de forma básica, en las *list comprehension* del capítulo de [Listas, tuplas y diccionarios](modulo1_tema4_Py_30_colec_obj.ipynb).

Una forma de definir bucles con for es a través de listas y diccionarios:

In [ ]:
crew_list = [1,2,3]
for n_crew in crew_list:
    
    n_vehi = vehicles_df[vehicles_df.crew_r == n_crew].shape[0]
    
    if n_vehi == 1:
        txt_vehicles = 'vehículo'
    else:
        txt_vehicles = 'vehiculos'
    
    txt_crew = 'tripulante'
    if n_crew != 1:
        txt_crew = txt_crew + 's'
    
    txt_n_crew = str(n_crew)
    if n_crew==3:
        txt_n_crew = txt_n_crew + ' o más'
    
    print("Hay {} {} con {} {}".format(n_vehi, txt_vehicles, txt_n_crew, txt_crew))

Hay 8 vehiculos con 1 tripulante
Hay 3 vehiculos con 2 tripulantes
Hay 6 vehiculos con 3 o más tripulantes

Este bucle recorre la lista `n_crew` y nos indica el número de vehículos con esa cantidad de tripulantes.

Cuando recorremos un diccionario con un `for`, por defecto, éste lo hace por sus claves:

In [ ]:
vehiculos_tripulantes = {'un': 8, 'dos': 3, '3 o más': 6}

for x in vehiculos_tripulantes:
    print(x)

un
dos
3 o más

Podemos iterar sobre la tupla `(clave,valor)` con `.items()`:

In [ ]:
for txt_n_crew, n_vehi in vehiculos_tripulantes.items():
    print("Hay",n_vehi,"vehículo/s con",txt_n_crew, "tripulante/s")

Hay 8 vehículo/s con un tripulante/s
Hay 3 vehículo/s con dos tripulante/s
Hay 6 vehículo/s con 3 o más tripulante/s

Los bucles con numpy, tienen una lógica simétrica a las listas. 

Para poder recorrer 2 colecciones de objetos (listas, diccionarios, numpy, series...) con el mismo número de elementos de forma correlativa, utilizamos la función `zip()`:

In [ ]:
a = [1,2,3]
b = [8,3,6]

for x,y in zip(a,b):
    print("Hay",y,"vehículo/s con",[x if x<3 else '3 o más'][0], "tripulante/s")

Hay 8 vehículo/s con 1 tripulante/s
Hay 3 vehículo/s con 2 tripulante/s
Hay 6 vehículo/s con 3 o más tripulante/s

Para iterar **por columnas** de un DataFrame, utilizamos `.iteritems()`. En cada iteración obtenemos la tupla`(nombre columna, valor serie)`:

In [ ]:
for nombreCol,variable in vehicles_df.iteritems():
    print(nombreCol,", tiene tipo:",variable.dtype)

cost_in_credits , tiene tipo: float64
length , tiene tipo: float64
max_atmosphering_speed , tiene tipo: float64
crew , tiene tipo: int64
cargo_capacity , tiene tipo: float64
pilots , tiene tipo: object
films , tiene tipo: object
crew_r , tiene tipo: int64

De la misma forma, pero ahora iterando un DataFrame **por filas** con `.iterrows()`:

In [ ]:
for nombre,fila in vehicles_df.iloc[0:2,0:2].iterrows():
    print(nombre,", cuesta:",fila.cost_in_credits," y mide:",fila.length , "metros")

Sand Crawler , cuesta: 150000.0  y mide: 36.8 metros
T-16 skyhopper , cuesta: 14500.0  y mide: 10.4 metros

< [Colecciones de objetos: pandas](modulo1_tema4_Py_32_pandas.ipynb) | [Índice](modulo1_tema4_Py_00_indice.ipynb) | [Gestión de datos](modulo1_tema4_Py_50_gest_dat.ipynb) >

__[Abre en Colab](https://colab.research.google.com/github/griu/init_python_b1/blob/master/modulo1_tema4_Py_40_contr_flujo.ipynb)__